@using ProjetPFA.Contants
@{
    Layout = null;
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IIT Bussiness</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">

    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <script>
        function sendEmail() {
            // Récupérer les valeurs des champs du formulaire
            var senderName = document.getElementById("senderName").value;
            var senderEmail = document.getElementById("senderEmail").value;
            var message = document.getElementById("message").value;

            // Construire le contenu du mail
            var mailContent = senderName + " (" + senderEmail + ") a envoyé le message:\n\n" + message;

            // Envoyer l'e-mail
            window.location.href = "mailto:sleh.bahri@iit.ens.tn?subject=Message%20de%20contact&body=" + encodeURIComponent(mailContent);
        }

    </script>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/img/logoISB1-1.png" alt="Ecommerce'" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-lg navbar-light bg-light">


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" data-toggle="modal" data-target="#contactModal">Contact</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" method="POST" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="btn btn-warning">Déconnexion </button>
                            </form>
                        </li>
                    }
                </ul>
            </div>

        </nav>



        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.Action("Index","Admin")" class="brand-link">
                <img src="~/img/logoISB1-1.png" alt="medhssine" class="brand-image img-square ">
                <span class="brand-text font-weight-light" style="display: block;">Bussiness</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                    <div class="info">
                        <a class="d-block">
                            Bienvenue @User.Identity.Name!

                        </a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt text-info"></i>
                                <p>
                                    Portail Admin
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            @if (User.IsInRole(Roles.SuperAdmin.ToString()))
                            {
                                <ul class="nav nav-treeview">

                                    <li class="nav-item">
                                        <a href="@Url.Action("Index","Users")" class="nav-link">
                                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                                            <p>Gestion des Utilisateurs</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="@Url.Action("Index","Roles")" class="nav-link">
                                            <i class="fa fa-user-secret" aria-hidden="true"></i>
                                            <p>Gestion des Roles</p>
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a href="@Url.Action("Register", "Account", new { area = "Identity" })" class="nav-link">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <p>Ajouter des Utilisateurs</p>
                                        </a>
                                    </li>
                                </ul>
                            }
                        </li>
                         
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Etudiant")" class="nav-link">

                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                <p>Etudiants</p>
                            </a>
                        </li>
                            
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Finance")" class="nav-link">
                                <i class="nav-icon fas fa-chart-line  "></i>
                                <p>Finance</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Enseingant")" class="nav-link">
                                <i class="nav-icon fas fa-users  "></i>
                                <p>Enseignants</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Marketing")" class="nav-link">
                                <i class="nav-icon fas fa-bullhorn"></i>
                                <p>Marketing</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index","Modele")" class="nav-link">
                                <i class="nav-icon fas fa-brain"></i>
                                <p>Tester L'acceptation Etudiant</p>
                            </a>
                        </li>

                    </ul>

                </nav>

                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @RenderBody()
        </div>
        <!--  <footer class="main-footer">
                <div class="float-right d-none d-sm-block">
                <b> All Rights Reserved © </b><span id="currentYear"></span>.
                </div>
            <strong>Developed by Developers IIT</strong>
                
            </footer> -->
        <script>
            // Get the current year
            var currentYear = new Date().getFullYear();

            // Update the text content of the span element with the current year
            document.getElementById("currentYear").textContent = currentYear;
        </script>


        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes
    <script src="~/dist/js/demo.js"></script> -->
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
  


    <!-- Modal Structure -->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactModalLabel">Contactez-nous</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Formulaire de Contact -->
                    <form id="contactForm">
                        <div class="form-group">
                            <label for="senderName">Votre nom:</label>
                            <input type="text" class="form-control" id="senderName" required>
                            <div class="invalid-feedback">Veuillez entrer votre nom.</div>
                        </div>
                        <div class="form-group">
                            <label for="senderEmail">Votre email:</label>
                            <input type="email" class="form-control" id="senderEmail" required>
                            <div class="invalid-feedback">Veuillez entrer une adresse email valide.</div>
                        </div>
                        <div class="form-group">
                            <label for="message">Message:</label>
                            <textarea class="form-control" id="message" rows="3" required></textarea>
                            <div class="invalid-feedback">Veuillez entrer un message.</div>
                        </div>
                        <button type="button" class="btn btn-primary" onclick="sendEmail()">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
